body
    div
        h2  listado productos
        table
            tbody
                tr
                    th  codigo
                    th  precio
                    th  imagen
                
    each product
        tr                
            td  product.title
            td  product.price
            td  
            img(src= product.thumbnail style="width: 100px")

